.container__title {
  margin-bottom: 40px;
}

.flex-container {
  display: flex;
  column-gap: 80px;
}

.article {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #ffff;
}

.article__container {
  width: 500px;
}

.paragraph {
  white-space: pre-line;
  text-align: left;
}

.about__blockquote {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-top: 48px;
  font-weight: 400;
  font-size: 44px;
  line-height: 114%;
  text-transform: uppercase;
  color: #fff;
}

.about__quote {
  margin-bottom: 40px;
}

.quote:before {
  content: "“";
  display: inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 114%;
  color: #6c0287;
}

.quote:after {
  content: "”";
  display: inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 114%;
  color: #6c0287;
}

.about__author {
  display: flex;
  justify-self: end;
  padding-left: 111px;
  column-gap: 30px;
  row-gap: 40px;
  width: 100%;
  height: 84px;
  font-weight: 400;
  font-size: 20px;
  text-transform: none;
  line-height: 140%;
}

.cite {
  font-style: normal;
}