.footer {
  padding-top: 50px;
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.footer__container .flex-container {
  justify-content: space-between;
  margin-bottom: 156px;
}

.footer__container_hall {
  padding: 0;
}

.address {
  margin-bottom: 39px;
  font-style: normal;
}

.address__location {
  display: flex;
  column-gap: 31px;
  margin-bottom: 38px;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: var(--white);
}

.address__location:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.address__tel {
  display: flex;
  column-gap: 31px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 117%;
  color: var(--white);
  transition: all .2s linear;
}

.address__tel:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.address__tel:hover {
  color: var(--bright);
}

.address__tel:active {
  color: #840AA3;
}

.address__mail {
  display: flex;
  column-gap: 31px;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 117%;
  color: var(--white);
  transition: all .2s linear;
}

.address__mail:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/envelope-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.address__mail:hover {
  color: var(--bright);
}

.address__mail:active {
  color: #840AA3;
}

.social-list {
  display: flex;
  width: 280px;
  justify-content: space-between;
}

.social-link {
  display: inline-block;
  outline: 1px solid transparent;
  transition: all .2s linear;
}

.social-link:hover {
  color: #eadeed;
}

.social-link:focus {
  outline-color: #cd06ff;
  color: #eadeed;
}

.social-link:active {
  color: var(--bright);
}

.footer__container .flex-container_copyright {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.flex-item span {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

.flex-item__span_block {
  display: block;
}

.flex-item__span_margin {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  transition: all .2s linear;
}

.flex-item__span_margin:hover {
  color: var(--bright);
}

.flex-item__span_margin:active {
  color: #840AA3;
}

.flex-item__span_indent {
  display: block;
  font-size: 14px;
  text-indent: 22px;
  transition: all .2s linear;
}

.flex-item__span_indent:hover {
  color: var(--bright);
}

.flex-item__span_indent:active {
  color: #840AA3;
}

@media (max-width: 1247px) {
  .footer {
    padding-top: calc(58px / 2);
  }

  .footer_hall {
    padding-top: 35px;
  }

  .footer__container .flex-container {
    column-gap: 58px;
    margin-bottom: 92px;
  }

  .footer .container__title {
    margin-bottom: 26px;
  }
  
  .social-list {
    max-width: 238px;
  }

  .social-list__item {
    width: 40px;
    height: 40px;
  }

  .footer .flex-container_copyright {
    margin-bottom: 0;
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .footer {
    padding-top: 30px;
  }

  .footer .container__title {
    margin-bottom: 30px;
  }

  .footer .flex-container {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-bottom: 75px;
  }

  .address__location {
    position: relative;
    justify-content: center;
    margin-bottom: 27px;
    text-align: center;
  }

  .address__location:before {
    position: absolute;
    left: 63px;
    top: 0;
    width: 27px;
    height: 26px;
  }

  .address__tel,
  .address__mail {
    margin-bottom: 27px;
  }

  .address__tel,
  .address__mail {
    justify-content: center;
    column-gap: 18px;
  }

  .address__tel:before,
  .address__mail:before {
    width: 29px;
    height: 26px;
  } 

  .social-list {
    margin: 0 auto;
  }

  .footer .flex-container_copyright {
    flex-direction: row;
    margin-bottom: 0;
    padding-bottom: 18px;
  }
}

@media (max-width: 730px) {
  .footer {
    padding-top: 15px;
  }

  .footer .container__title {
    margin-bottom: 15px;
  }

  .flex-container {
    margin-bottom: 63px;
  }

  .address * {
    font-size: 14px;
  }

  .address__location:before, 
  .address__tel:before {
    width: 20px;
    height: 20px;
  }

  .address__mail:before {
    width: 22px;
    height: 20px;
  }

  .address__location:before {
    top: -6px;
    left: 53px;
  }

  .address__tel, .address__mail {
    column-gap: 8px;
  }

  .social-list {
    justify-content: center;
    column-gap: 20px;
  }

  .social-list__item {
    width: 30px;
    height: 30px;
  } 

  .footer .flex-container_copyright {
    flex-direction: column;
    row-gap: 19px;
  }

  .flex-container_copyright * {
    font-size: 12px;
  }

  .flex-item__span_indent {
    text-indent: 0;
    text-align: center;
  }
}