footer {
  padding-top: 50px;
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.footer__container .flex-container {
  justify-content: space-between;
  margin-bottom: 156px;
}

.address {
  margin-bottom: 39px;
  font-style: normal;
}

.address__location {
  display: flex;
  column-gap: 31px;
  margin-bottom: 38px;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: #fff;
}

.address__location:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
}

.address__tel {
  display: flex;
  column-gap: 31px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 117%;
  color: #fff;
}

.address__tel:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
}

.address__mail {
  display: flex;
  column-gap: 31px;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 117%;
  color: #fff;
}

.address__mail:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/envelope-icon.svg");
  background-repeat: no-repeat;
}

.social-list {
  display: flex;
  width: 280px;
  justify-content: space-between;
}

.social-link {
  display: inline-block;
  outline: 1px solid transparent;
}

.social-link:hover {
  color: #eadeed;
}

.social-link:focus {
  outline-color: #cd06ff;
  color: #eadeed;
}

.social-link:active {
  color: #cd06ff;
}

.footer__container .flex-container_copyright {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.flex-item span {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #fff;
}

.flex-item__span_block {
  display: block;
}

.flex-item__span_margin {
  display: block;
  margin-bottom: 6px;
}

.flex-item__span_indent {
  display: block;
  text-indent: 22px;
}