.reserv {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #440f51;
}

.reservation-form {
  color: var(--white);
}

.fieldset {
  text-align: center;
}

.fieldset_set input {
  display: inline-block;
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.fieldset_set input:focus {
  outline-color: var(--bright);
}

.legend {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
  font-weight: var(--bold);
  font-size: 24px;
  line-height: 117%;
  color: var(--white);
}

.fieldset_rooms {
  margin-bottom: 60px;
}

.flex-container_rooms input[type="radio"] {
  display: none;
}

.flex-container_rooms label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  border-radius: 8px;
  background: var(--white);
  font-weight: var(--bold);
  font-size: 30px;
  line-height: 133%;
  text-transform: uppercase;
  color: var(--dark);
  outline: 3px solid transparent;
  transition: all .2s linear;
}

.flex-container_rooms label:hover {
  outline: 3px solid #640aa3;
  background-color: #eadeed;
  cursor: pointer;
}

.flex-container_rooms label:active {
  outline: 3px solid var(--white);
  color: var(--white);
  background: var(--royal);
}

.flex-container_rooms label:focus {
  outline: 3px solid #640aa3;
}

.flex-container_rooms input[type="radio"]:checked + label {
  outline: 3px solid #640aa3;
  background-color: var(--bright);
}

.fieldset_rooms .flex-container {
  justify-content: center;
  column-gap: 60px;
}

.fieldset_set {
  padding-left: 100px;
  margin-bottom: 60px;
}

.fieldset_set .flex-container_console {
  flex-grow: 1;
  column-gap: 174px;
}

.fieldset_flex-direction_column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.fieldset_flex-direction_column legend {
  text-align: left;
}

.console {
  display: flex;
  column-gap: 12px;
}

.console input {
  width: 27px;
  height: 27px;
  transition: all .2s linear;
}

.b-games {
  display: flex;
  column-gap: 12px;
}

.b-games input {
  width: 27px;
  height: 27px;
  transition: all .2s linear;
}

.more {
  display: flex;
  column-gap: 12px;
}

.more input {
  width: 27px;
  height: 27px;
  transition: all .2s linear;
}

.fieldset_flex-direction_column label {
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  color: var(--white);
}

.fieldset_date {
  padding-left: 100px;
  padding-right: 100px;
}

.fieldset_date input {
  border: none;
  transition: outline-color .2s linear;
}

.fieldset_date input:focus {
  outline: 2px solid var(--bright);
}

.fieldset_date .flex-container_date {
  display: flex;
  column-gap: 50px;
  margin-bottom: 40px;
}

.date__group-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 36px;
}

.date__group-1 input::-webkit-input-placeholder {
  background-image: url("../img/input-icon.svg");
  background-position: center right;
  background-repeat: no-repeat;
  height: 23px;
  width: 100%;
}

.row-group {
  display: flex;
  column-gap: 32px;
}

.dmy {
  width: 134px;
  height: 52px;
  padding: 1px 27px 1px 20px;
}

.dmy::placeholder {
  font-weight: var(--regular);
  font-size: 18px;
  line-height: 156%;
  color: #211e1e;
}


.time {
  width: 134px;
  height: 52px;
  padding: 1px 27px 1px 20px;
}

.time::placeholder {
  font-weight: var(--regular);
  font-size: 18px;
  line-height: 156%;
  color: #211e1e;
}

.person-number {
  width: 300px;
  height: 52px;
  padding: 1px 27px 1px 20px;
}

.person-number::placeholder {
  font-weight: var(--regular);
  font-size: 18px;
  line-height: 156%;
  color: #211e1e;
}

.date__group-2 {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.col-group {
  display: flex;
  flex-direction: column;
}

.col-group input {
  width: 280px;
  height: 52px;
}

.name {
  align-self: flex-start;
  font-weight: var(--bold);
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

.surname {
  align-self: flex-start;
  font-weight: var(--bold);
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

.date__group-3 {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.date__group-3 input {
  width: 300px;
}

.phone-number {
  align-self: flex-start;
  font-weight: var(--bold);
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

.email {
  align-self: flex-start;
  font-weight: var(--bold);
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

.btn-container {
  padding-left: 780px;
}

.btn-container button[type="submit"] {
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: var(--bold);
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: var(--royal);
  box-shadow: 0 0 20px var(--white);
  transition: all .2s linear;
}

.btn-container button[type="submit"]:hover {
  outline: 3px solid var(--royal);
  color: var(--royal);
  background: #eadeed;
}

.btn-container button[type="submit"]:active {
  color: var(--royal);
  background: #eadeed;
}

.btn-container button[type="submit"]:focus {
  outline: 3px solid var(--royal);
  color: var(--royal);
  background: var(--white);
}

@media (max-width: 1247px) {
  .reserv {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .reservation-form {
    padding-top: 0;
  }

  .reserv .container__title {
    margin-bottom: 43px;
  }

  .legend {
    margin-bottom: 26px;
  }

  .flex-container_rooms label {
    width: 180px;
    height: 44px;
    border-radius: 6px;
    font-size: 20px;
    line-height: 120%;
  }

  .fieldset_set {
    padding: 0;
  }


  .fieldset_set .flex-container_console {
    column-gap: 110px;
  }

  .fieldset_date {
    padding: 0;
  }

  .col-group input {
    width: 251px;
    height: 52px;
  }

  .btn-container {
    padding-left: 650px;
  }

  .btn-container button[type="submit"] {
    width: 254px;
    height: 50px;
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .reserv {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .reserv .container__title {
    margin-bottom: 40px;
  }

  .legend {
    margin-bottom: 30px;
  }

  .fieldset_rooms {
    margin-bottom: 50px;
  }

  .fieldset_rooms .flex-container {
    column-gap: 29px;
  }

  .flex-container_rooms label {
    width: 150px;
    height: 38px;
    font-size: 16px;
  }

  .fieldset_set .flex-container_console {
    flex-wrap: wrap;
    column-gap: 66px;
    row-gap: 32px;
  }

  .flex-container_console .legend {
    margin-bottom: 24px;
  }

  .flex-container_console input {
    width: 40px;
    height: 40px;
  }

  .fieldset_set {
    margin-bottom: 50px;
  }

  .fieldset_date .flex-container_date  {
    flex-wrap: wrap;
    row-gap: 42px;
    column-gap: 108px;
    margin-bottom: 48px;
  }

  .row-group {
    column-gap: 14px;
  }

  .date__group-1 {
    flex-direction: row;
    column-gap: 108px;
  }

  .date__group-2 input {
    width: 281px;
  }

  .date__group-3 input {
    width: 300px;
  }

  .btn-container {
    padding-left: 389px;
  }

  .btn-container button[type="submit"] {
    width: 300px;
    height: 60px;
    font-size: 22px;
  }
}

@media (max-width: 730px) {
  .reserv {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .legend {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .fieldset_rooms {
    margin-bottom: 30px;
  }

  .fieldset_rooms .flex-container {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 14px;
  }

  .flex-container_rooms label {
    width: 130px;
    height: 30px;
    font-size: 14px;
  }

  .fieldset_set {
    margin-bottom: 30px;
  }

  .flex-container_console .legend {
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .flex-container_console label {
    column-gap: 20px;
    font-size: 1rem;
  }

  .flex-container_console input {
    width: 30px;
    height: 30px;
  }

  .fieldset_date .flex-container_date {
    row-gap: 35px;
  }

  .row-group {
    column-gap: 12px;
  }

  .date__group-1 {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 15px;
  }

  .time {
    width: ;
  }

  .person-number {
    width: 280px;
  }

  .date__group-3 input {
    width: 280px;
  }

  .btn-container {
    padding-left: 0;
  }

  .btn-container button[type="submit"] {
    width: 280px;
    border-radius: 4px;
  }
}