.reserv {
  background: #440f51;
}

.reservation-form {
  padding-top: 50px;
  padding-bottom: 80px;
  color: #ffff;
}

.fieldset {
  text-align: center;
}

.fieldset_set input {
  display: inline-block;
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.fieldset_set input:focus {
  outline-color: #cd06ff;
}

.legend {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
  color: #fff;
}

.flex-container_rooms {
  margin-bottom: 60px;
}

.flex-container_rooms input[type="radio"] {
  display: none;
}

.flex-container_rooms label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  border-radius: 8px;
  background: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  text-transform: uppercase;
  color: #000;
  outline: 3px solid transparent;
  transition: all .2s linear;
}

.flex-container_rooms label:hover {
  outline: 3px solid #640aa3;
  background-color: #eadeed;
  cursor: pointer;
}

.flex-container_rooms label:active {
  outline: 3px solid #fff;
  color: #fff;
  background: #6c0287;
}

.flex-container_rooms label:focus {
  outline: 3px solid #640aa3;
}

.flex-container_rooms input[type="radio"]:checked + label {
  outline: 3px solid #640aa3;
  background-color: #cd06ff;
}

.fieldset_rooms .flex-container {
  justify-content: center;
  column-gap: 60px;
}

.fieldset_set {
  width: 1080px;
  padding-left: 100px;
}

.fieldset_set .flex-container_console {
  flex-grow: 1;
  margin-bottom: 60px;
  column-gap: 100px;
}

.fieldset_flex-direction_column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.fieldset_flex-direction_column legend {
  text-align: left;
}

.console {
  display: flex;
  column-gap: 12px;
}

.console input {
  width: 27px;
  height: 27px;
  transition: all .2s linear;
}

.b-games {
  display: flex;
  column-gap: 12px;
}

.b-games input {
  width: 27px;
  height: 27px;
  transition: all .2s linear;
}

.more {
  display: flex;
  column-gap: 12px;
}

.more input {
  width: 27px;
  height: 27px;
  transition: all .2s linear;
}

.fieldset_flex-direction_column label {
  font-weight: 400;
  font-size: 22px;
  color: var(--white);
}

.fieldset_date {
  padding-left: 100px;
  padding-right: 100px;
}

.fieldset_date input {
  border: none;
  transition: outline-color .2s linear;
}

.fieldset_date input:focus {
  outline: 2px solid var(--bright);
}

.fieldset_date .flex-container_date {
  display: flex;
  column-gap: 50px;
  margin-bottom: 40px;
}

.date__group-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 36px;
}

.date__group-1 input::-webkit-input-placeholder {
  background-image: url("../img/input-icon.svg");
  background-position: center right;
  background-repeat: no-repeat;
  height: 23px;
  width: 100%;
}

.row-group {
  display: flex;
  column-gap: 32px;
}

.dmy {
  width: 134px;
  height: 52px;
  padding: 1px 27px 1px 20px;
}

.dmy::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #211e1e;
}


.time {
  width: 134px;
  height: 52px;
  padding: 1px 27px 1px 20px;
}

.time::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #211e1e;
}

.person-number {
  width: 300px;
  height: 52px;
  padding: 1px 27px 1px 20px;
}

.person-number::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #211e1e;
}

.date__group-2 {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.col-group {
  display: flex;
  flex-direction: column;
}

.col-group input {
  width: 280px;
  height: 52px;
}

.name {
  align-self: flex-start;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

.surname {
  align-self: flex-start;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

.date__group-3 {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.date__group-3 input {
  width: 300px;
}

.phone-number {
  align-self: flex-start;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

.email {
  align-self: flex-start;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  color: var(--white);
}

.btn-container {
  padding-left: 780px;
}

.btn-container button[type="submit"] {
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: var(--royal);
  transition: all .2s linear;
}

.btn-container button[type="submit"]:hover {
  outline: 3px solid var(--royal);
  color: var(--royal);
  background: #eadeed;
}

.btn-container button[type="submit"]:active {
  color: var(--royal);
  background: #eadeed;
}

.btn-container button[type="submit"]:focus {
  outline: 3px solid var(--royal);
  color: var(--royal);
  background: #fff;
}























