.halls__title {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.halls__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__list-item-link {
  display: block;
  width: 580px;
  height: 349px;
  padding-top: 94px;
  padding-bottom: 95px;
  background-size: cover;
  background-position: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 114%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  outline: 1px solid transparent;
  transition: all .2s linear;
}

.halls__list-item-link:hover {
  transform: scale(1.1);
}

.halls__list-item-link:active {
  outline: 3px solid var(--bright);
  outline-offset: 3px;
}

.halls__list-item-link:focus {
  outline: 3px solid var(--bright);
  outline-offset: 3px;
}

.halls__list-item-link p {
  max-width: 252px;
  margin: 0 auto;
}

.halls__list-item-link_vibes {
  background-image: url("../img/80\'s\ vibes.jpg");
}

.halls__list-item-link_star-wars {
  background-image: url("../img/star-wars.jpg");
}

.halls__list-item-link_wild-west {
  background-image: url("../img/wild-west.jpg");
}

.halls__list-item-link_neon {
  background-image: url("../img/neon-style.jpg");
}