.halls {
  padding-bottom: 100px;
}

.halls__title {
  margin-bottom: 60px;
  font-weight: var(--bold);
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__list-item-link {
  display: block;
  width: 580px;
  height: 349px;
  padding-top: 94px;
  padding-bottom: 95px;
  background-size: cover;
  background-position: center;
  font-weight: var(--bold);
  font-size: 70px;
  line-height: 114%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  outline: 1px solid transparent;
  transition: all .2s linear;
}

.halls__list-item-link:hover {
  transform: scale(1.1);
}

.halls__list-item-link:active {
  outline: 3px solid var(--bright);
  outline-offset: 3px;
}

.halls__list-item-link:focus {
  outline: 3px solid var(--bright);
  outline-offset: 3px;
}

.halls__list-item-link p {
  max-width: 252px;
  margin: 0 auto;
}

.halls__list-item-link_vibes {
  background-image: url("../img/80\'s\ vibes.jpg");
}

.halls__list-item-link_star-wars {
  background-image: url("../img/star-wars.jpg");
}

.halls__list-item-link_wild-west {
  background-image: url("../img/wild-west.jpg");
}

.halls__list-item-link_neon {
  background-image: url("../img/neon-style.jpg");
}

@media (max-width: 1247px) {
  .halls {
    padding-top: 59px;
    padding-bottom: 70px;
  }

  .halls__title {
    margin-bottom: 36px;
  }

  .halls__list-item-link {
    width: 441px;
    height: 267px;
    padding-top: 73px;
    padding-bottom: 74px;
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .halls {
    padding-top: 30px;
    padding-bottom: 62px;
  }

  .halls__list {
    column-gap: 20px;
    row-gap: 17px;
  }

  .halls__list-item-link {
    width: 334px;
    height: 200px;
    padding-top: 62px;
    padding-bottom: 32px;
    font-size: 40px;
  }

  .halls__list-item-link p {
    max-width: 121px;
  }
}

@media (max-width: 730px) {
  .halls {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .halls__list {
    row-gap: 10px;
  }

  .halls__list-item-link {
    width: 280px;
    height: 168px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 26px;
    line-height: 131%;
  }
}