.header {
  padding-top: 30px;
}

.container_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.nav-list__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 227%;
  text-transform: uppercase;
  color: var(--white);
}

.nav-list__link {
  border-bottom: 1px solid transparent;
  transition: border-bottom .2s linear, outline .2s linear;
}

.nav-list__link:hover {
  border-bottom: 1px solid var(--white);
}

.nav-list__link:active {
  border-bottom: 1px solid var(--bright);
}

.tel {
  padding: 12px 32px 12px 32px;
  border: 3px solid var(--bright);
  border-radius: 10px;
  background-color: #ffffff00;
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  text-transform: uppercase;
  color: #fff;
  transition: background-color .2s linear;
}

.tel:hover {
  border: 3px solid var(--royal);
  background-color: var(--royal);
}

.tel:focus {
  border-color: var(--royal);
  background-color: var(--royal);
}

.tel:active {
  border-color: var(--black);
  background-color: #640AA3;
}