.intro__container {
  height: 1019px;
  padding-top: 146px;
}

.intro__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -.1em;
  color: #ffff;
}

.intro__title:after {
  content: "";
  position: absolute;
  bottom: 50px;
  right: 30px;
  display: block;
  width: 675px;
  height: 762px;
  background: url("../img/banner.png") no-repeat bottom right;
}

.intro__title-description {
  padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 179%;
  color: #ffff;
}