.intro_halls {
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro_vibe-hall {
  background-image: url("../img/80\'s\ vibes\ background.jpg");
}

.intro_star-hall {
  background-image: url("../img/star-wars\ background.jpg");
}

.intro_west-hall {
  background-image: url("../img/wild-west\ background.jpg");
}

.intro_neon-hall {
  background-image: url("../img/neon-style\ background.jpg");
}

.intro__container {
  min-height: 823px;
}

.intro__container_halls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-height: 750px;
}

.intro__title {
  font-weight: var(--black);
  font-size: 150px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -.1em;
  color: var(--white);
}

.intro__title_halls {
  margin: 0;
  font-weight: 700;
  font-size: 90px;
  line-height: 89%;
  text-transform: uppercase;
  letter-spacing: normal;
}

.back-link {
  position: absolute;
  left: 30px;
  top: -47px;
  border-bottom: 1px solid transparent;
  font-weight: 700;
  font-size: 22px;
  transition: border-bottom .2s linear, outline .2s linear;
}

.back-link:hover {
  border-color: var(--white);
}

.back-link:active {
  border-color: var(--bright);
}

.back-link:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 16px;
  margin-right: 10px;
  background-image: url("../img/back-link\ icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 30px;
  display: block;
  width: 675px;
  height: 762px;
  background: url("../img/banner.png") no-repeat bottom/cover;
}

.intro__title_halls:after {
  display: none;
}

.intro__title-description {
  padding-left: 100px;
  font-weight: var(--regular);
  font-size: 28px;
  line-height: 179%;
  color: var(--white);
}

.column {
  text-align: center;
}

.intro__aside {
  display: flex;
  column-gap: 40px;
  align-items: flex-end;
  padding-top: 45px;
  margin-bottom: 150px;
}

.column__span {
  display: inline-block;
  margin-bottom: 11px;
  font-weight: var(--black);
  font-size: 100px;
  color: var(--bright);
}

.column__span_new {
  font-weight: var(--black);
  font-size: 75px;
  font-variant: all-small-caps;
  color: var(--bright);
}

.column__paragraph {
  font-weight: var(--regular);
  font-size: 30px;
  text-align: center;
  color: var(--white);
}

.intro__reserv-link {
  display: block;
  max-width: 374px;
  min-height: 80px;
  padding: 25px 69px 25px 69px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: var(--royal);
  font-weight: var(--bold);
  font-size: 26px;
  line-height: 115%;
  text-transform: uppercase;
  color: var(--white);
  box-shadow: 0 0 20px var(--royal);
  transition: all .2s linear;
}

.intro__reserv-link:hover {
  background-color: #840aa3;
}

.intro__reserv-link:active {
  background: #640aa3;
}

.intro__reserv-link:focus {
  outline: none;
  background-color: #840aa3;
}

.down-button {
  position: absolute;
  bottom: 89px;
  left: 571px;
  display: inline-block;
  width: 97px;
  height: 97px;
  outline: 1px solid transparent;
  background-image: url("../img/down-button.svg");
  background-size: cover;
  transition: all .2s linear;
}

.down-button::before,
.down-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: opacity 0.2s linear;
}

.down-button::before {
  background-image: url("../img/down-button-hover.svg");
  opacity: 0;
}

.down-button::after {
  background-image: url("../img/down-button-active.svg");
  opacity: 0;
}

.down-button:hover::before {
  opacity: 1;
}

.down-button:active::before {
  opacity: 0;
}

.down-button:active::after {
  opacity: 1;
}

.down-button:focus {
  outline-color: #cd06ff;
}

@media (max-width: 1247px) {
  .intro {
    padding-top: 30px;
    padding-bottom: calc(83px / 2);
  }

  .intro_halls {
    padding: 0;
  }

  .intro__container {
    min-height: 583px;
  }

  .intro__container_halls {
    min-height: 534px;
  }

  .intro__title {
    margin-bottom: 16px;
    font-size: 120px;
  }

  .intro__title_halls {
    margin-bottom: 0;
  }

  .intro__title:after {
    width: 453px;
    height: 520px;
    right: 0;
  }

  .intro__title-description {
    font-size: 22px;
  }
  
  .intro__aside {
    padding-top: 36px;
    margin-bottom: 80px;
  }

  .back-link {
    left: -1px;
    top: -58px;
  }

  .column__span {
    font-size: 80px;
  }

  .column__span_new {
    font-size: 60px;
  }

  .column__paragraph {
    font-size: 26px;
  }

  .wrapper {
    padding-left: 40px;
  }

  .intro__reserv-link {
    max-width: 296px;
    min-height: 64px;
    padding: 19px 48px;
    font-size: 22px;
  }

  .down-button {
    width: 67px;
    height: 67px;
    bottom: 46px;
    left: 418px;
  }
}

@media (max-width: 992px) {
  .intro {
    padding-bottom: 40px;
  }

  .intro_halls {
    padding: 0;
  }

  .intro__container {
    min-height: 537px;
  }

  .intro__container_halls {
    min-height: 402px;
  }

  .intro__title {
    margin-bottom: 20px;
    font-size: 86px;
  }

  .intro__title_halls {
    margin-bottom: 0;
    font-size: 60px;
  }

  .intro__title:after {
    width: 409px;
    height: 479px;
  }

  .intro__title-description {
    padding-left: 70px;
    font-size: 18px;
  }

  .intro__aside {
    padding-top: 52px;
    margin-bottom: 100px;
    column-gap: 30px;
  }

  .back-link {
    left: 2px;
    top: -62px;
    font-size: 16px;
  }

  .column__span {
    font-size: 50px;
    margin-bottom: 6px;
  }

  .column__span_new {
    font-size: 40px;
  }

  .column__paragraph {
    font-size: 16px;
  }
  
  .wrapper {
    padding: 0;
  }

  .intro__reserv-link {
    max-width: 214px;
    min-height: 44px;
    padding: 13px 35px 11px 34px;
    border-radius: 4px;
    font-size: 1rem;
  }

  .down-button {
    display: none;
  }
}

@media (max-width: 730px) {
  .intro {
    padding-top: 20px;
    padding-bottom: calc(46px / 2);
  }

  .intro_halls {
    padding: 0;
  }

  .intro__container {
    min-height: 204px;
  }

  .intro__container_halls {
    min-height: 168px;
  }

  .intro__title {
    margin-bottom: 6px;
    font-size: 35px;
  }

  .intro__title_halls {
    margin: 0;
    font-size: 30px;
  }

  .intro__title:after {
    width: 161px;
    height: 179px;
  }

  .intro__title-description {
    padding-left: 20px;
    font-size: 10px;
  }

  .intro__aside {
    padding-top: 10px;
    margin-bottom: 30px;
    column-gap: 20px;
  }

  .back-link {
    left: 0;
    top: -29px;
    font-size: 12px;
  }

  .back-link:before {
    width: 17px;
    height: 8px;
    margin-right: 5px;
  }

  .column__span {
    font-size: 26px;
    margin-bottom: 8px;
  }

  .column__span_new {
    font-size: 22px;
  }

  .column__paragraph {
    font-size: 10px;
  }

  .intro__reserv-link {
    max-width: 117px;
    min-height: 27px;
    padding: 8px 13px 7px 13px;
    font-size: 10px;
  }
}