.intro__container {
  height: 1019px;
  padding-top: 146px;
}

.intro__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -.1em;
  color: #ffff;
}

.intro__title:after {
  content: "";
  position: absolute;
  bottom: 50px;
  right: 30px;
  display: block;
  width: 675px;
  height: 762px;
  background: url("../img/banner.png") no-repeat bottom right;
}

.intro__title-description {
  padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 179%;
  color: #ffff;
}

.column {
  text-align: center;
}

.intro__aside {
  display: flex;
  column-gap: 40px;
  align-items: flex-end;
  padding-top: 30px;
  margin-bottom: 150px;
}

.column__span {
  display: inline-block;
  margin-bottom: 23px;
  font-weight: 900;
  font-size: 100px;
  color: #cd06ff;
}

.column__span_new {
  font-weight: 900;
  font-size: 75px;
  font-variant: all-small-caps;
  color: #cd06ff;
}

.column__paragraph {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.intro__reserv-link {
  display: block;
  padding: 25px 69px 25px 69px;
  border-radius: 10px;
  border: none;
  width: 374px;
  height: 80px;
  cursor: pointer;
  background: #6c0287;
  font-weight: 700;
  font-size: 26px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0 0 20px #6c0287;
}

.intro__reserv-link:hover {
  background-color: #840aa3;
}

.intro__reserv-link:active {
  background: #640aa3;
}

.intro__reserv-link:focus {
  outline: none;
  background-color: #840aa3;
}

.down-button {
  position: absolute;
  bottom: 139px;
  left: 571px;
  display: inline-block;
  width: 97px;
  height: 97px;
  outline: 1px solid transparent;
  background-image: url("../img/down-button.svg");
}

.down-button:hover {
  background-image: url("../img/down-button-hover.svg");
}

.down-button:active {
  background-image: url("../img/down-button-active.svg");
}

.down-button:focus {
  outline-color: #cd06ff;
}







