.reviews__container {
  padding-left: 100px;
  padding-right: 100px;
}

.reviews__item {
  display: flex;
  column-gap: 20px;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__img {
  margin-bottom: 11px;
}

.reviews__quote {
  padding-top: 52px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

figcaption {
  text-align: center;
}

.reviews__quote {
  width: 688px;
}