.reviews__container {
  padding-left: 100px;
  padding-right: 100px;
}

.reviews__item {
  display: flex;
  column-gap: 20px;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__img {
  width: 280px;
  height: 280px;
  margin-bottom: 11px;
  border-radius: 140px;
}

.reviews__img_guest-1 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%), url("../img/guest1.jpg");
  background-size: 280px;
}

.reviews__img_guest-2 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%), url("../img/guest2.jpg");
  background-size: 280px;
}

.reviews__img_guest-3 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%), url("../img/guest3.jpg");
  background-position: center;
  background-size: 280px;
}

.reviews__quote {
  max-width: 688px;
  padding-top: 52px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

figcaption {
  text-align: center;
}

@media (max-width: 1247px) {
  .reviews {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .reviews__container {
    padding-left: 74px;
    padding-right: 79px;
  }

  .reviews__item {
    column-gap: 38px;
    font-size: 18px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .reviews__img  {
    width: 172px;
    height: 172px;
    margin-bottom: 21px;
    background-size: 172px;
  }

  .reviews__quote {
    max-width: 515px;
    padding-top: 33px;
    font-size: 18px;
    line-height: 144%;
  }
}

@media (max-width: 992px) {
  .reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .reviews .container__title {
    margin-bottom: 30px;
  }

  .reviews__container {
    padding-left: 64px;
    padding-right: 63px;
  }

  .reviews__item {
    column-gap: 12px;
  }

  .reviews__figure {
    font-size: 14px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .reviews__img {
    width: 153px;
    height: 153px;
    margin-bottom: 17px;
    background-size: 153px;
  }
  
  .reviews__quote {
    font-size: 1rem;
  }
}

@media (max-width: 730px) {
  .reviews {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .reviews .container__title {
    margin-bottom: 15px;
  }

  .reviews__container {
    padding: 0;
  }

  .reviews__item {
    flex-direction: column;
    align-items: center;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .reviews__img {
    width: 86px;
    height: 86px;
    margin-bottom: 9px;
    background-size: 86px;
  }

  .reviews__quote {
    padding-top: 1rem;
    font-size: 12px;
  }
}